{% extends "main.html" %}

{% block content %}
  <div class="row padding-top padding-bottom">
    <div class="col-sm-3">
      {% include "sidebar.html" %}
    </div>
    <div class="col-sm-9">
      <h1>{{ category.name }} Items ({{ items.count() }} items)</h1>
      <div>
        {% if 'user_id' in session %}
          <p class="action">
            <a href = "{{url_for('add_item')}}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add Item
            </a>
          </p>
        {% endif %}
      {% for item in items %}
      <div>
        <p>
          <a href = "{{url_for('show_item', category_id=category.id, slug=category.slug, item_id=item.id, item_slug=item.slug)}}">
            <span class="glyphicon {{ category.glyphicon }}" aria-hidden="true"></span>
            {{ item.name }}
          </a>
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
